<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>minimind mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>minimind.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>miniminds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>minimindx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>363DDC3A1EE3EF02003607B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>363DDC521EE3EF02003607B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>363DDC9A1EE4AF02003607B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>363DDCB01EE4AF02003607B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367E890F1C963D2600C96392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367E89191C963D2600C96392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36B2CB0C1EE322C3001751D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36B2CB141EE322C3001751D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36B2CB4E1EE32A18001751D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
